# LaTeX

## Core latex/pdflatex auxiliary files
*.aux
*.log
*.fls
*.out
*.toc

## Bibliography auxiliary files
*.bbl
*.blg

## Build tool auxiliary files
*.fdb_latexmk
*.synctex.gz

## Theorem files
*.thm

## Generated pdf files
*.pdf

## Package todonotes
*.tdo
